* {
    margin: 0;
}

.container {
    position: absolute;
    background: url("IMG/empathy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.form {
    position: absolute;
    width: 40%;
    height: 80%;
    background-color: rgba(43, 188, 255, 0.7);
    left: 50%;
    top: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.form img {
    position: absolute;
    left: 50%;
    top: 5%;
    width: 40%;
    transform: translateX(-50%);
}

.form form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: Calibri;
    font-weight: 600;
    font-size: 18px;
}

.form form input {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding-left: 20px;
    margin: 5px;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 18px;
    transition: 0.3s;
}

.form form input:focus {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
    transition: 0.3s;
}

.form form input[type="radio"] {
    display: inline-block;
    text-transform: uppercase;
    width: auto;
    height: auto;
    margin-bottom: 25px;
}

.form form select, .form form input[type="submit"] {
    display: block;
    width: 107%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding-left: 20px;
    margin: 5px;
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 18px;
    transition: 0.3s;
}

#print {
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

#logo {
    position: relative;
    display: block;
    width: 30%;
    height: auto;
    margin: 20px auto 0px auto;
}

.name {
    float: left;
    text-align: center;
    margin: 80px 0px 0px 0px;
    width: 45%;
}

.name h1, .date h1{
    font-size: 20px;
    text-transform: uppercase;
}

.name h2, .date h2{
    font-size: 12px;
}

.date {
    float: right;
    text-align: center;
    margin: 80px 0px 0px 0px;
    width: 45%;
}

.text {
    position: relative;
    display: block;
    text-align: center;
    margin: 200px auto 0px auto;
    width: 80%;
}

.text h1 {
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 800;
}

.text h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.text p {
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.sign {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px; 
    margin: 30px auto 0px auto;
    width: 70%;
}

.sign img {
    position: relative;
    display: block;
    margin: auto;
    width: 300px;
}

.sign canvas {
    position: relative;
    display: block;
    margin: auto;
}

.sign h2 {
    font-size: 12px;
    text-align: center;
}

.exportBtn {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
